<html>
  <script src="./vendor.js" charset="utf-8" async defer></script>
  <script src="./home.js" charset="utf-8" async defer></script>
  <body>
    <div id="root"><%- reactContent %></div>
  </body>
</html>
